{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "diff",
          "clojure",
          "javascript",
          "css",
          "markup",
          "yml"
        ],
        "plugins": [
          "show-language",
          "toolbar",
          "copy-to-clipboard"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not dead"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": "commonjs",
            "debug": false
          }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
// babel-plugin-prismjs
// https://www.npmjs.com/package/babel-plugin-prismjs
// https://prismjs.com/#languages-list
