@import "./variables.scss";

div.code-toolbar {
  >.toolbar {
    opacity: 1;
    font-size: 1.25rem;
    font-family: $sans;
    top: -1.5rem;
    right: -1.5rem;
  }

  .toolbar-item {
    button {
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: $dark;
      }
    }

    span,
    button {
      padding: .1rem .65rem;
      border-radius: 3px;
      background-color: $darkest;
      margin-left: 10px;
    }
  }
}

div.code-toolbar>.toolbar {
  opacity: 1;
  font-size: 1.25rem;
  font-family: $sans;
  top: -1.5rem;
  right: -1.5rem;
}

div.code-toolbar>.toolbar .toolbar-item span {
  padding: .1rem .65rem;
  border-radius: 3px;
  background-color: $darkest;
}

code {
  padding: .5rem .3rem;
  margin: 0 .3rem;
}

code,
code[class*="language-"],
pre[class*="language-"],
:not(pre)>code[class*="language-"] {
  background-color: $dark;
  border: solid 1px $neutral;
  font-family: $mono;
  border-radius: $border-radius;
  font-size: 90%;
  white-space: pre-wrap;
}

code[class*="language-"] {
  border: none;
  padding: 0;
  margin: 0;
}

:not(pre)>code[class*="language-"] {
  font-size: 80%;
  padding: .5rem .8rem;
  margin: 0 .3rem;
}

.token.tag {
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-shadow: none;
  margin: 0;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: inherit;
    text-shadow: none;
  }
}
