@import "./variables.scss";

.footer {
  font-family: $sans;
  font-size: 1rem;
  line-height: 1.75rem;

  @include small-screen {
    margin: 2rem 0;
    padding: 0 2rem;
  }

  @include medium-screen {
    margin: 2.5rem 0;
    padding: 0 5rem;
  }

  @include large-screen {
    margin: 4rem 0;
    padding: 0 5.5rem;
  }

  .wrapper {
    @include large-screen {
      display: flex;
    }

    .creative-commons-logo {
      margin-top: .5rem;
      margin-right: 1.5rem;
      float: left;
    }

    .license {
      font-size: .85rem;
      line-height: 1.85rem;

      @include large-screen {
        justify-content: baseline;
      }
    }

    .social {
      text-align: center;

      @include large-screen {
        min-width: 30%;
        margin-left: 1rem;
        margin-top: -2rem;
      }

      .icon {
        width: 5rem;
        height: 5rem;
        margin: .5rem;
        border: solid .5rem $dark;
        border-radius: 50%;

        &:hover {
          border-top: solid .5rem $primary;
          border-right: solid .5rem $secondary;
          border-bottom: solid .5rem $secondary;
          border-left: solid .5rem $primary;
        }

        @include small-screen {
          width: 3rem;
          height: 3rem;
          margin: .25rem;
        }
      }
    }
  }
}
