@import "./variables.scss";

.header {
  background-color: $darkest;
  border-bottom: solid 10px $primary;
  position: fixed;
  z-index: 9999;
  right: 0;
  left: 0;
  top: 0;

  .wrapper {
    margin: 0 auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;

    @include small-screen() {
      padding: .5rem 2rem;
    }

    .logo {
      flex-grow: 2;
    }

    .menu-button {
      align-self: flex-end;
    }
  }
}
