@import "./variables.scss";
@import "./anchor.scss";
@import "./gist.scss";
@import "./code.scss";
@import "./video.scss";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $darkest;
  font-family: $serif;
  @include light-shadowed-text($lightest);

  .page {
    background-color: $darkest;
    padding-top: 2rem;
  }

  .container {
    margin: 0 auto;

    &.reading {
      max-width: $reading-pane-max-width;
    }

    @include large-screen {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include medium-screen {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include small-screen {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 800;
    font-family: $sans;
    line-height: 150%;
  }

  h1 {
    font-size: 200%;
    text-align: center;
  }

  @include large-screen {
    font-size: $font-size-large;
    line-height: $line-height-large;
    ;
  }

  @include medium-screen {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  @include small-screen {
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  blockquote {
    border-left: 1rem solid $tertiary;
    background-color: $dark;
    padding: 1% 5%;
    margin: 0;
    box-shadow: 3px 3px 3px darken($darkest, 2%);

    a {
      $with-border: no;
      font-weight: bold;
      @include tertiary-text($with-border);

      &:hover {
        @include secondary-text($with-border);
      }
    }
  }

  hr {
    border-top: solid 1px $dark;
    border-bottom: solid 1px $neutral;
    border-left: none;
    border-right: none;
  }

  .danger {
    color: $tertiary;
  }

  //TODO: add story

  .highlight.primary {
    color: $dark;
    text-shadow: 1px 1px 1px $primary-dark;
    background-color: $primary;
    padding: .25rem .75rem;
    border-radius: $border-radius;
  }
}
