@import "./variables.scss";

.navigation {
  padding: .4em 0;
  background-color: $darkest;
  position: absolute;
  margin-top: 6rem;
  left: 0;
  right: 0;
  height: 100vh;

  &.open {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
  }

  &.closed {
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
  }
}
