.blog-page {
  padding-top: 9rem;
}

.about-page {
  padding-top: 8rem;
}

.archives-page {
  padding-top: 6rem;
}

.credits-page {
  padding-top: 6rem;
}

.license-page {
  padding-top: 6rem;
}

.privacy-policy-page {
  padding-top: 6rem;
}

.tags-page {
  padding-top: 6rem;
  padding-bottom: 2.5rem;
}

.post-page {
  padding-top: 6rem;
}

.tag-page {
  padding-top: 6rem;
}
