@import "../styles/variables.scss";

.posts {
  &.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    justify-content: space-evenly;

    .post.preview {
      padding: 0;
      padding-bottom: 2.5rem;
      width: 46%;

      .square.thumbnail {
        display: none;
      }

      .landscape.thumbnail {
        display: block;
      }

      h1,
      .blurb,
      .metadata {
        padding: 0 2.5rem;
      }

      @include medium-screen() {
        width: 100%;
      }

      @include small-screen() {
        width: 100%;
        padding: 0;
        padding-bottom: 1rem;

        h1,
        .blurb,
        .metadata {
          padding: 0 1.25rem;
        }

        .metadata {
          margin: 0;
        }
      }
    }
  }

  &.listing {
    flex-grow: 1;

    .post.preview {
      width: auto;

      .landscape.thumbnail {
        display: none;
      }

      .square.thumbnail {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        padding: 0 !important; //override because padding is stored on the element as it is used to calculate the height using the images' aspect ratio.
        position: absolute;
        top: 50%;
        left: 45px;
        transform: translateY(-50%);

        .badge {
          position: absolute;
          top: 0;
          left: 0;
        }

        @include small-screen() {
          display: none;
          height: auto;
        }
      }

      .blurb {
        display: none;
      }

      h1 {
        max-width: 75%;
        margin: 0 auto;
      }

      .metadata {
        margin: 0 auto;
        max-width: 80%;
      }

      @include medium-screen() {

        h1,
        .metadata {
          margin: 0;
          max-width: 100%;
        }

        .thumbnail {
          display: none;
        }
      }

      @include small-screen() {

        h1,
        .metadata {
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }
}
