@import './variables.scss';

.posts-container {
  .actions {
    display: flex;
    margin-bottom: 1.5rem;

    .button {
      cursor: pointer;
      background-color: darken($darkest, 5%);
      padding: 15px;
      margin: 0 .2rem;
      line-height: 0;
      border-radius: 10px;
      border: none;

      &:focus {
        background-color: $dark;
        outline: none;
      }

      &.search-btn {
        cursor: default;
        margin-right: 0;
        border-radius: 10px 0 0 10px;

        &:focus {
          outline: none;
          background-color: darken($darkest, 5%);
        }
      }

      img {
        filter: invert(50%);
        width: 25px;
        height: 25px;
      }

      &.active img {
        filter: invert(100%);
      }
    }

    .search-bar {
      margin-left: 0;
      background-color: darken($darkest, 5%);
      font-size: 1.5rem;
      color: $lightest;
      padding: 12px;
      border: none;
      width: 50%;
      border-radius: 0 10px 10px 0;
      font-family: $sans;

      &:focus {
        outline: none;
        background-color: $dark;
      }
    }
  }
}

.posts.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-evenly;

  .blurb {
    @include small-screen {
      display: none;
    }
  }
}

.posts.listing {
  display: block;

  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .preview {
    width: 90%;
    margin: 2rem auto;

    .metadata {
      text-align: left;
      line-height: 0;
    }
  }

  .thumbnail {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0 !important;
    float: left;
    margin-right: 1.5rem;

    .badge {
      display: none;
    }
  }

  .blurb,
  .tags {
    display: none;
  }
}
