@import './variables.scss';
$bg: darken($darkest, 5%);
$radius: .5rem;

.posts-container .actions {
  position: relative;
  display: flex;
  padding: 1%;
  margin: 1rem;

  @include small-screen() {
    flex-flow: wrap;

    .search {
      margin-top: 1rem;
    }
  }

  .button {
    cursor: pointer;
    background-color: $bg;
    padding: 15px;
    margin: 0 .2rem;
    line-height: 0;
    border-radius: $radius;
    border: none;
    height: 3.5rem;
    width: 4rem;

    &:focus {
      outline: none;
    }

    &.active {
      background-color: $dark;

      img {
        filter: invert(100%);
      }
    }

    img {
      filter: invert(50%);
      width: 1.5rem;
      height: 1.5rem;
    }

    @include large-screen() {
      &.multi-column {
        display: inline-block;
      }

      &.single-column {
        display: none;
      }
    }

    @include medium-screen() {
      &.multi-column {
        display: none;
      }

      &.single-column {
        display: inline-block;
      }
    }

    @include small-screen() {
      &.multi-column {
        display: none;
      }

      &.single-column {
        display: inline-block;
      }
    }
  }

  .search {
    display: flex;
    width: 100%;

    .reset-btn {
      display: none;
    }

    .search-btn {
      display: inline-block;
    }

    &.active {

      .reset-btn {
        cursor: pointer;
        display: inline-block;

        img {
          width: 1rem;
          height: 1rem;
        }
      }

      .search-btn {
        display: none;
      }

      .reset-btn,
      .search-bar {
        background-color: $dark;
      }
    }

    .reset-btn,
    .search-btn {
      cursor: default;
      margin-right: 0;
      border-radius: $radius 0 0 $radius;
    }

    .search-bar {
      font-family: $sans;
      font-size: 1.5rem;
      margin-left: 0;
      background-color: $bg;
      color: $lightest;
      padding: .25rem 1rem .25rem 0;
      border: none;
      width: 100%;
      border-radius: 0 $radius $radius 0;

      &:focus {
        outline: none;
      }
    }

    @include medium-screen() {
      .search-results {
        display: none;
      }
    }

    @include small-screen() {
      .search-results {
        display: none;
      }
    }

    .search-results {
      position: absolute;
      right: 2rem;
      top: 50%;
      transform: translateY(-50%);
      opacity: .5;

      .result {
        padding-left: .5rem;
        font-style: italic;
        font-size: 1.5rem;
      }
    }
  }
}
