@import "../styles/variables.scss";

.posts.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-evenly;

  @include large-screen() {
    .post {
      padding: 0 0 2.5rem 0;
      width: 46%;
    }
  }

  @include medium-screen() {
    .post {
      width: 100%;
    }
  }

  @include small-screen() {
    .post {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

.posts.list {
  .post.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: flex-start;
    justify-content: space-evenly;

    .thumbnail {
      flex: 1 0 0;
      width: 250px;


      @include small-screen() {
        display: none;
      }

      @include medium-screen() {
        display: none;
      }
    }

    .body {
      flex: 2 0 0;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 2;
      justify-content: space-evenly;

      h2 {
        margin-bottom: 0;
        flex: 1 1 100%;
      }

      .blurb {
        display: none;
      }

      .metadata {
        text-align: left;
        margin: 0;
        padding: 0;
        flex: 1 1 70%;
      }

      .tags {
        flex: 1 1 30%;
        line-height: 2.75rem;

        .tag {
          padding: 0 .75rem;
        }
      }
    }
  }
}
