@import "./variables.scss";
@import "./number.scss";

.post.preview {
  position: relative;
  background-color: lighten($darkest, 2.5%);
  margin: 0 1% 3% 1%;
  box-shadow: 0 10px 15px -3px darken($darkest, 2.5%), 0 4px 6px -2px darken($darkest, 3%);

  .body {
    padding: 1rem 3rem 4rem 3rem;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    @include dimmed-text(false);

    &:hover {
      @include primary-text(false);
    }
  }

  h2 {
    font-size: 1.85rem;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }

  .blurb {
    blockquote {
      border: none;
      padding: 0;
      box-shadow: none;
      font-style: italic;
      color: $faded;
    }
  }

  img {
    width: 100%;
  }
}
