@import "./variables.scss";

table {
  border: solid 1px $neutral;
  width: 100%;

  thead {
    background-color: $primary;
    color: $dark;
    text-shadow: 1px 1px 1px lighten($primary, 10%);
  }

  tr td {
    padding: 0.25rem 1rem;
  }

  tr:nth-child(even) td {
    background-color: $dark;
  }
}
