@import "./variables.scss";

.thumbnail {
  position: relative;
  padding: 0;

  .slug,
  .slug:hover,
  .slug:visited:hover {
    background-color: transparent !important;
    padding: 0 !important;
  }

  .badge {
    position: absolute;
    bottom: 15px;
    z-index: 1;
    display: inline-block;
    padding: 0 0.5rem;
    border-radius: 0 3px 3px 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.75rem;
    text-decoration: none;
    background-color: $dark;
    color: $lightest;

    .source-logo img {
      position: relative;
      vertical-align: middle;
      margin-right: 5px;
      margin-left: 2px;
      filter: invert(80%);
      height: 1rem;
      width: auto;
    }

    &:hover {
      .source-logo img {
        filter: none;
      }
    }
  }
}
