@import url("//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Open+Sans:400,800|Courier+Prime:400&display=swap");

$sans: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$serif: "Crimson Text",
"Times New Roman",
serif;

$mono: "Courier Prime",
SFMono-Regular,
Consolas,
"Liberation Mono",
Menlo,
Courier,
monospace;

$symbol: -apple-system,
BlinkMacSystemFont,
Segoe UI,
Helvetica,
Arial,
sans-serif,
Apple Color Emoji,
Segoe UI Emoji,
Segoe UI Symbol;

$reading-pane-max-width: 960px;

$breakpoint-large: 1200px;
$breakpoint-medium: 640px;

$font-size-large: 21pt;
$font-size-medium: 18pt;
$font-size-small: 16pt;

$line-height-large: 4rem;
$line-height-medium: 3rem;
$line-height-small: 2.8rem;

$heading-size-large: 130%;
$heading-size-medium: 120%;
$heading-size-small: 110%;

$border-radius: 5px;

$darkest: #181c1f;
$dark: #1f2227;
$neutral: #303030;
$faded: #999;
$light: #b3b3b3;
$lightest: #bfcbd2;
$primary: #c6c91c;
$secondary: #097acf;
$tertiary: #cf0a92;
$accent: #b10a0a;

$neutral-light: lighten($neutral, 15%);
$faded-light: lighten($neutral, 15%);
$primary-light: lighten($primary, 15%);
$secondary-light: lighten($secondary, 15%);
$tertiary-light: lighten($tertiary, 15%);

$neutral-dark: darken($neutral, 15%);
$faded-dark: darken($faded, 15%);
$primary-dark: darken($primary, 15%);
$secondary-dark: darken($secondary, 15%);
$tertiary-dark: darken($tertiary, 15%);

@mixin large-screen {
  @media screen and (min-width: $breakpoint-large + 1) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (min-width: $breakpoint-medium + 1) and (max-width: $breakpoint-large) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: $breakpoint-medium) {
    @content;
  }
}

@mixin animate-link() {
  $time: 0.5s;
  -webkit-transition: all $time;
  transition: all $time;
  transition-property: $time;
  transition-duration: $time;
  transition-timing-function: ease;
  transition-delay: 0s;
}

@mixin light-shadowed-text($color) {
  color: $color;
  text-shadow: 1px 1px 1px $darkest;
}

@mixin rounded-text($color, $shadow, $background) {
  border-radius: $border-radius;
  background-color: $background;
  color: $color;
  text-shadow: 1px 1px 1px $shadow;
}

@mixin sexy-text($color, $shadow, $with-border) {
  color: $color;
  background: transparent;
  text-shadow: 1px 1px 1px $shadow;
  border: none;

  @if $with-border==yes {
    padding: 0.25rem;
    border-radius: 0;
    border-bottom: solid 1px $color;
  }

  ::selection {
    background-color: $color;
    text-shadow: 1px 1px 1px lighten($color, 15%);
    color: $dark;
  }
}

@mixin tag($background,
  $foreground,
  $shadow,
  $hover-background,
  $hover-foreground,
  $hover-shadow) {
  line-height: 180%;
  font-family: $sans;
  font-size: 70%;
  text-shadow: 1px 1px 1px $shadow;
  background-color: $background;
  color: $foreground;
  border-radius: $border-radius;
  border-bottom: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 0.1rem 0.05rem;

  &:hover {
    text-shadow: 1px 1px 1px $hover-shadow;
    background-color: $hover-background;
    color: $hover-foreground;
  }
}

@mixin primary-text($with-border) {
  $color: $primary;
  $text-shadow: $neutral;
  @include sexy-text($color, $text-shadow, $with-border);
}

@mixin rounded-primary() {
  $color: $dark;
  $shadow: $primary-light;
  $background: $primary;
  @include rounded-text($color, $shadow, $background);
}

@mixin secondary-text($with-border) {
  $color: $secondary;
  $text-shadow: $secondary-dark;
  @include sexy-text($color, $text-shadow, $with-border);
}

@mixin rounded-secondary() {
  $color: $dark;
  $shadow: $secondary-light;
  $background: $secondary;
  @include rounded-text($color, $shadow, $background);
}

@mixin tertiary-text($with-border) {
  $color: $tertiary;
  $text-shadow: $tertiary-dark;
  @include sexy-text($color, $text-shadow, $with-border);
}

@mixin dimmed-text($with-border) {
  $color: $faded;
  $text-shadow: $faded-light;
  @include sexy-text($color, $text-shadow, $with-border);
}

@mixin primary-tag() {
  @include tag($background: $primary,
    $foreground: $darkest,
    $shadow: $primary-light,
    $hover-background: $secondary,
    $hover-foreground: $darkest,
    $hover-shadow: $secondary-light);
}

@mixin secondary-tag() {
  @include tag($background: $secondary,
    $foreground: $darkest,
    $shadow: $secondary-light,
    $hover-background: $tertiary,
    $hover-foreground: $lightest,
    $hover-shadow: $tertiary-light);
}

@mixin tertiary-tag() {
  @include tag($background: $tertiary,
    $foreground: $lightest,
    $shadow: $tertiary-light,
    $hover-background: $secondary,
    $hover-foreground: $darkest,
    $hover-shadow: $secondary-light);
}

@mixin disabled-tag() {
  cursor: default;
  @include tag($background: $neutral,
    $foreground: $light,
    $shadow: $neutral-light,
    $hover-background: $neutral,
    $hover-foreground: $light,
    $hover-shadow: $neutral-light);
}

@mixin bare-tag() {
  cursor: default;
  line-height: 180%;
  font-family: $sans;
  font-size: 70%;
  text-shadow: 1px 1px 1px $neutral;
  background-color: transparent;
  color: $faded;
  border-radius: $border-radius;
  border: solid 2px $neutral;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 0.1rem 0.05rem;
}

@mixin button() {
  cursor: pointer;
  margin-left: 1em;
  width: 4rem;
  height: 3.75rem;
  border-radius: $border-radius;
  display: inline-block;
  background-color: $darkest;
  color: #fff;
  text-align: center;
  border: none;
  padding: 0;

  &:hover {
    background-color: $dark;
  }

  &.active {
    background-color: $primary;
    color: $dark;
  }

  &.active:hover {
    background-color: $tertiary;
    color: #fff;
  }

  &:focus {
    outline: none;
    background-color: $dark;
    color: $light;
  }

  svg {
    margin: 15px 25px;
    font-size: 30px;
    display: inline-block;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: 0 0 1px lighten($dark, 50%);
    background-color: lighten($dark, 20%);
  }

  &::-webkit-scrollbar-corner {
    background-color: lighten($dark, 10%);
  }

  &::-webkit-scrollbar-track {
    background-color: lighten($dark, 10%);
  }
}
