.page-container.archives-page {
  max-width: 100%;
}

.heading {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
}

.archives {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-evenly;
}

.archives .post {
  background-color: #181c1f;
  margin: 1%;
  border-radius: .5rem;
  width: 44%;
  padding: 2%;
  box-shadow: 2px 2px 2px #101010;
}

.archives .post h1 {
  font-size: 100%;
  line-height: 1.85rem;
  margin-top: 0;
  margin-bottom: 5%;
  max-width: 90%;
}

.archives .post h1 a {
  border: none !important;
}

.archives .post h1:hover a {
  color: #c6c91c !important;
}

.archives .post .text {
  display: block;
  font-size: 70%;
  line-height: 1.75rem;
}

.archives .post .metadata {
  color: #777;
  font-size: 90%;
  line-height: 1.5rem;
}

.archives .post .anchor.tag-internal-link-element {
  background-color: #1f2227;
  color: #aaa;
  white-space: nowrap;
}

.archives .post .anchor.tag-internal-link-element:hover {
  background-color: #c6c91c;
  color: #181c1f;
}

.archives .post:nth-child(n+1) .wrap:before,
.archives .post:nth-child(n+1) .wrap:after {
  background-color: #495803;
}

.archives .post:nth-child(n+1) .ribbon {
  background-color: #abad10;
  border: dashed 1px #303030;
  color: #667a0b;
  text-shadow: 1px 1px 1px #b1bb83;
  box-shadow:0 0 0 3px #667a0b,  0px 21px 5px -18px rgba(0,0,0,0.6);
}

.archives .post:nth-child(2n+1) .wrap:before,
.archives .post:nth-child(2n+1) .wrap:after {
  background-color: #630453;
}

.archives .post:nth-child(2n+1) .ribbon {
  background-color: #cf09ae;
  border: dashed 1px #303030;
  color: #80036b;
  text-shadow: 1px 1px 1px #b168a5;
  box-shadow:0 0 0 3px #80036b,  0px 21px 5px -18px rgba(0,0,0,0.6);
}

.archives .post:nth-child(3n+1) .wrap:before,
.archives .post:nth-child(3n+1) .wrap:after {
  background-color: #033d69;
}

.archives .post:nth-child(3n+1) .ribbon {
  background-color: #097acf;
  border: dashed 1px #303030;
  color: #0e4874;
  text-shadow: 1px 1px 1px #6ba2cc;
  box-shadow:0 0 0 3px #0e4874,  0px 21px 5px -18px rgba(0,0,0,0.6);
}

.archives .post:nth-child(4n+1) .wrap:before,
.archives .post:nth-child(4n+1) .wrap:after {
  background-color: #694c0c;
}

.archives .post:nth-child(4n+1) .ribbon {
  background-color: #ffae00;
  border: dashed 1px #777;
  color: #a17202;
  text-shadow: 1px 1px 1px #fdd06e;
  box-shadow:0 0 0 3px #a17202,  0px 21px 5px -18px rgba(0,0,0,0.6);
}