@import "./variables.scss";

code[class*="language-"],
pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  background-color: $dark;
  border: solid 1px $neutral;
  font-family: $mono;
  border-radius: $border-radius;
  font-size: 90%;
  white-space: pre-wrap;
}

code[class*="language-"] {
  border: none;
}

:not(pre) > code[class*="language-"] {
  padding: .2rem .5rem;
  font-size: 80%;
}