@import "./variables.scss";

.logo {
  margin: 0;
  font-family: $sans;
  font-size: 130%;

  .partial {
    display: none;
  }

  @include small-screen {
    .partial {
      display: block;
    }

    .full {
      display: none;
    }
  }

  a, a:visited {
    text-decoration: none;
    border: none;
    color: #fff;

    &:hover {
      background-color: transparent;
      text-shadow: 1px 1px 1px $dark;
      color: #fff;
    }
  }
}