@import "./variables.scss";
@import "./number.scss";

.post.preview {
  position: relative;
  padding: 2.5rem 4rem;
  border-radius: $border-radius + 30;
  background-color: darken($darkest, 2%);
  width: 39%;
  margin: 0 1% 3% 1%;
  box-shadow: 3px 3px 3px darken($darkest, 3%);
  box-shadow: 1px 1px 1px lighten($dark, 1%);

  @media screen and (min-width: $breakpoint-large + 1) and (max-width: 1440px) {
    width: 35%;
  }

  @include medium-screen() {
    width: 100%;
  }

  @include small-screen() {
    width: 100%;
    margin-bottom: 10%;
  }

  h1 {
    font-size: 120%;

    a, a:visited {
      color: $lightest;
      border-bottom-color: $faded;
      border-radius: 0;
      text-shadow: 1px 1px 1px $dark;

      &:hover, &:visited:hover {
        color: $primary;
        border-bottom-color: $primary-dark;
        background-color: transparent;
      }
    }
  }

  .metadata {
    text-align: right;
    font-style: italic;
    color: $light;
    font-size: 85%;
    color: $faded;
    line-height: 200%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .tags {
    margin-top: 1%;
    text-align: center;
  }
}
