@import './variables.scss';

.spacer {

  &.no-heading {
    @include large-screen {
      padding-top: 12rem;
    }

    @include medium-screen {
      padding-top: 11rem;
    }

    @include small-screen {
      padding-top: 10rem;
    }
  }

  &.with-heading {
    @include large-screen {
      padding-top: 6rem;
    }

    @include medium-screen {
      padding-top: 7rem;
    }

    @include small-screen {
      padding-top: 8rem;
    }
  }

  &.large {
    padding-top: 2%;

    @include medium-screen {
      padding-top: 5%;
    }

    @include small-screen {
      padding-top: 10%;
    }
  }
}
