@import './variables.scss';

.spacer {
  padding-top: 1%;

  &.small {
    @include medium-screen {
      padding-top: 3%;
    }

    @include small-screen {
      padding-top: 5%;
    }
  }

  &.large {
    padding-top: 2%;

    @include medium-screen {
      padding-top: 5%;
    }

    @include small-screen {
      padding-top: 10%;
    }
  }
}