@import url("//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Open+Sans:400,800");

$sans: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$serif: 'Crimson Text','Times New Roman',serif;
$darkest: #181c1f;
$dark : #000;
$neutral: #303030;
$light: #000;
$lightest: #bfcbd2;
$accent: #b10a0a;
$primary: #9a9c16;
$secondary: #097acf;