@import url("//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Open+Sans:400,800");

$sans: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$serif: 'Crimson Text','Times New Roman',serif;
$darkest: #181c1f;
$dark : #000;
$neutral: #303030;
$faded: #999;
$light: #b3b3b3;
$lightest: #bfcbd2;
$accent: #b10a0a;
$primary: #c6c91c;
$secondary: #097acf;