@import url("//fonts.googleapis.com/css?family=Crimson+Text:400,400i,700|Open+Sans:400,800");

html, body {
  margin: 0;
  padding: 0;
  background-color: #181c1f;
  color: #bfcbd2;
  line-height: 2.25rem;
  font-size: 130%;
}